.boardList {
  display: flex;
  justify-content: space-between;
}

.boardList button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 32px;
}

.board-title:hover {
  cursor: pointer;
  font-weight: 600;
}

.delete-board:hover {
  cursor: pointer;
  font-weight: 600;
  color: red;
}
