.card {
    background-color: #2e712d; /* Dark green background */
    border: 1px solid #004d00; /* Slightly darker border */
    border-radius: 8px; /* Rounded corners */
    padding: 6px; /* Space inside the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    color: white; /* Text color */
    width: 30%;
    position: relative;
}

h3 {
    text-align: center;
    font-family: "Delius Unicase", serif;
    margin: 10px 0 70px 0;
}

.buttons {
    position: absolute;
    bottom: 6px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.likes-button{
    background-color: #004d00; /* Dark green */
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
    cursor: pointer;
    text-emphasis: bold;
    font-size: medium;
}

.likes-button:hover {
    cursor: pointer; 
    font-weight: 1000;
    transform: scale(1.3);
}

    
.delete-button{
    background-color: #2e712d; /* Dark green */
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
    cursor: pointer;
    text-emphasis: bold;
    font-size: medium;
}
    
.delete-button:hover {
    cursor: pointer;
    transform: scale(1.3);
}