.App-header{
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 50px;
  padding: 50px;
}

@media (max-width: 768px) { 
  .grid-container {
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
  }
}

.App{
  background-image: url('./assets/leafyBackground.jpg');
  background-size: cover;
  background-position: 100%;
  background-repeat: repeat;
  height: 100vh;
}